# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
front/node_modules/workbox-strategies/tsconfig.json
front/node_modules/workbox-strategies/tsconfig.tsbuildinfo
front/node_modules/workbox-strategies/src/_version.ts
front/node_modules/workbox-strategies/src/index.ts
front/node_modules/workbox-strategies/src/Strategy.ts
front/node_modules/workbox-strategies/src/StrategyHandler.ts
front/node_modules/workbox-strategies/src/plugins/cacheOkAndOpaquePlugin.ts
front/node_modules/workbox-strategies/src/utils/messages.ts
front/node_modules/workbox-strategies/utils/messages.d.ts
front/node_modules/workbox-strategies/utils/messages.js
front/node_modules/workbox-strategies/utils/messages.mjs
front/node_modules/workbox-streams/_types.d.ts
front/node_modules/workbox-streams/_types.js
front/node_modules/workbox-streams/_types.mjs
front/node_modules/workbox-streams/_version.d.ts
front/node_modules/workbox-streams/_version.js
front/node_modules/workbox-streams/_version.mjs
front/node_modules/workbox-streams/concatenate.d.ts
front/node_modules/workbox-streams/concatenate.js
front/node_modules/workbox-streams/concatenate.mjs
front/node_modules/workbox-streams/concatenateToResponse.d.ts
front/node_modules/workbox-streams/concatenateToResponse.js
front/node_modules/workbox-streams/concatenateToResponse.mjs
front/node_modules/workbox-streams/index.d.ts
front/node_modules/workbox-streams/index.js
front/node_modules/workbox-streams/index.mjs
front/node_modules/workbox-streams/isSupported.d.ts
front/node_modules/workbox-streams/isSupported.js
front/node_modules/workbox-streams/isSupported.mjs
front/node_modules/workbox-streams/LICENSE
front/node_modules/workbox-streams/package.json
front/node_modules/workbox-streams/README.md
front/node_modules/workbox-streams/strategy.d.ts
front/node_modules/workbox-streams/strategy.js
front/node_modules/workbox-streams/strategy.mjs
front/node_modules/workbox-streams/tsconfig.json
front/node_modules/workbox-streams/tsconfig.tsbuildinfo
front/node_modules/workbox-streams/build/workbox-streams.dev.js
front/node_modules/workbox-streams/build/workbox-streams.dev.js.map
front/node_modules/workbox-streams/build/workbox-streams.prod.js
front/node_modules/workbox-streams/build/workbox-streams.prod.js.map
front/node_modules/workbox-streams/src/_types.ts
front/node_modules/workbox-streams/src/_version.ts
front/node_modules/workbox-streams/src/concatenate.ts
front/node_modules/workbox-streams/src/concatenateToResponse.ts
front/node_modules/workbox-streams/src/index.ts
front/node_modules/workbox-streams/src/isSupported.ts
front/node_modules/workbox-streams/src/strategy.ts
front/node_modules/workbox-streams/src/utils/createHeaders.ts
front/node_modules/workbox-streams/utils/createHeaders.d.ts
front/node_modules/workbox-streams/utils/createHeaders.js
front/node_modules/workbox-streams/utils/createHeaders.mjs
front/node_modules/workbox-sw/_types.mjs
front/node_modules/workbox-sw/_version.mjs
front/node_modules/workbox-sw/index.mjs
front/node_modules/workbox-sw/LICENSE
front/node_modules/workbox-sw/package.json
front/node_modules/workbox-sw/README.md
front/node_modules/workbox-sw/build/workbox-sw.js
front/node_modules/workbox-sw/build/workbox-sw.js.map
front/node_modules/workbox-sw/controllers/WorkboxSW.mjs
front/node_modules/workbox-webpack-plugin/LICENSE
front/node_modules/workbox-webpack-plugin/package.json
front/node_modules/workbox-webpack-plugin/README.md
front/node_modules/workbox-webpack-plugin/tsconfig.json
front/node_modules/workbox-webpack-plugin/tsconfig.tsbuildinfo
front/node_modules/workbox-webpack-plugin/build/generate-sw.d.ts
front/node_modules/workbox-webpack-plugin/build/generate-sw.js
front/node_modules/workbox-webpack-plugin/build/index.d.ts
front/node_modules/workbox-webpack-plugin/build/index.js
front/node_modules/workbox-webpack-plugin/build/inject-manifest.d.ts
front/node_modules/workbox-webpack-plugin/build/inject-manifest.js
front/node_modules/workbox-webpack-plugin/build/lib/get-asset-hash.d.ts
front/node_modules/workbox-webpack-plugin/build/lib/get-asset-hash.js
front/node_modules/workbox-webpack-plugin/build/lib/get-manifest-entries-from-compilation.d.ts
front/node_modules/workbox-webpack-plugin/build/lib/get-manifest-entries-from-compilation.js
front/node_modules/workbox-webpack-plugin/build/lib/get-script-files-for-chunks.d.ts
front/node_modules/workbox-webpack-plugin/build/lib/get-script-files-for-chunks.js
front/node_modules/workbox-webpack-plugin/build/lib/get-sourcemap-asset-name.d.ts
front/node_modules/workbox-webpack-plugin/build/lib/get-sourcemap-asset-name.js
front/node_modules/workbox-webpack-plugin/build/lib/relative-to-output-path.d.ts
front/node_modules/workbox-webpack-plugin/build/lib/relative-to-output-path.js
front/node_modules/workbox-webpack-plugin/build/lib/resolve-webpack-url.d.ts
front/node_modules/workbox-webpack-plugin/build/lib/resolve-webpack-url.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/CHANGELOG.md
front/node_modules/workbox-webpack-plugin/node_modules/source-map/LICENSE
front/node_modules/workbox-webpack-plugin/node_modules/source-map/package.json
front/node_modules/workbox-webpack-plugin/node_modules/source-map/README.md
front/node_modules/workbox-webpack-plugin/node_modules/source-map/source-map.d.ts
front/node_modules/workbox-webpack-plugin/node_modules/source-map/source-map.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/dist/source-map.debug.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/dist/source-map.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/dist/source-map.min.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/dist/source-map.min.js.map
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/array-set.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/base64-vlq.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/base64.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/binary-search.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/mapping-list.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/quick-sort.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/source-map-consumer.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/source-map-generator.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/source-node.js
front/node_modules/workbox-webpack-plugin/node_modules/source-map/lib/util.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/LICENSE
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/package.json
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/README.md
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/applySourceMap.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/CachedSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/ConcatSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/index.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/LineToLineMappedSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/OriginalSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/PrefixSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/RawSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/ReplaceSource.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/Source.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/SourceAndMapMixin.js
front/node_modules/workbox-webpack-plugin/node_modules/webpack-sources/lib/SourceMapSource.js
front/node_modules/workbox-webpack-plugin/src/generate-sw.ts
front/node_modules/workbox-webpack-plugin/src/index.ts
front/node_modules/workbox-webpack-plugin/src/inject-manifest.ts
front/node_modules/workbox-webpack-plugin/src/lib/get-asset-hash.ts
front/node_modules/workbox-webpack-plugin/src/lib/get-manifest-entries-from-compilation.ts
front/node_modules/workbox-webpack-plugin/src/lib/get-script-files-for-chunks.ts
front/node_modules/workbox-webpack-plugin/src/lib/get-sourcemap-asset-name.ts
front/node_modules/workbox-webpack-plugin/src/lib/relative-to-output-path.ts
front/node_modules/workbox-webpack-plugin/src/lib/resolve-webpack-url.ts
front/node_modules/workbox-window/_version.d.ts
front/node_modules/workbox-window/_version.js
front/node_modules/workbox-window/_version.mjs
front/node_modules/workbox-window/index.d.ts
front/node_modules/workbox-window/index.js
front/node_modules/workbox-window/index.mjs
front/node_modules/workbox-window/LICENSE
front/node_modules/workbox-window/messageSW.d.ts
front/node_modules/workbox-window/messageSW.js
front/node_modules/workbox-window/messageSW.mjs
front/node_modules/workbox-window/package.json
front/node_modules/workbox-window/README.md
front/node_modules/workbox-window/tsconfig.json
front/node_modules/workbox-window/tsconfig.tsbuildinfo
front/node_modules/workbox-window/Workbox.d.ts
front/node_modules/workbox-window/Workbox.js
front/node_modules/workbox-window/Workbox.mjs
front/node_modules/workbox-window/build/workbox-window.dev.es5.mjs
front/node_modules/workbox-window/build/workbox-window.dev.es5.mjs.map
front/node_modules/workbox-window/build/workbox-window.dev.mjs
front/node_modules/workbox-window/build/workbox-window.dev.mjs.map
front/node_modules/workbox-window/build/workbox-window.dev.umd.js
front/node_modules/workbox-window/build/workbox-window.dev.umd.js.map
front/node_modules/workbox-window/build/workbox-window.prod.es5.mjs
front/node_modules/workbox-window/build/workbox-window.prod.es5.mjs.map
front/node_modules/workbox-window/build/workbox-window.prod.mjs
front/node_modules/workbox-window/build/workbox-window.prod.mjs.map
front/node_modules/workbox-window/build/workbox-window.prod.umd.js
front/node_modules/workbox-window/build/workbox-window.prod.umd.js.map
front/node_modules/workbox-window/src/_version.ts
front/node_modules/workbox-window/src/index.ts
front/node_modules/workbox-window/src/messageSW.ts
front/node_modules/workbox-window/src/Workbox.ts
front/node_modules/workbox-window/src/utils/urlsMatch.ts
front/node_modules/workbox-window/src/utils/WorkboxEvent.ts
front/node_modules/workbox-window/src/utils/WorkboxEventTarget.ts
front/node_modules/workbox-window/utils/urlsMatch.d.ts
front/node_modules/workbox-window/utils/urlsMatch.js
front/node_modules/workbox-window/utils/urlsMatch.mjs
front/node_modules/workbox-window/utils/WorkboxEvent.d.ts
front/node_modules/workbox-window/utils/WorkboxEvent.js
front/node_modules/workbox-window/utils/WorkboxEvent.mjs
front/node_modules/workbox-window/utils/WorkboxEventTarget.d.ts
front/node_modules/workbox-window/utils/WorkboxEventTarget.js
front/node_modules/workbox-window/utils/WorkboxEventTarget.mjs
front/node_modules/wrap-ansi/index.js
front/node_modules/wrap-ansi/license
front/node_modules/wrap-ansi/package.json
front/node_modules/wrap-ansi/readme.md
front/node_modules/wrap-ansi/node_modules/ansi-styles/index.d.ts
front/node_modules/wrap-ansi/node_modules/ansi-styles/index.js
front/node_modules/wrap-ansi/node_modules/ansi-styles/license
front/node_modules/wrap-ansi/node_modules/ansi-styles/package.json
front/node_modules/wrap-ansi/node_modules/ansi-styles/readme.md
front/node_modules/wrap-ansi/node_modules/color-convert/CHANGELOG.md
front/node_modules/wrap-ansi/node_modules/color-convert/conversions.js
front/node_modules/wrap-ansi/node_modules/color-convert/index.js
front/node_modules/wrap-ansi/node_modules/color-convert/LICENSE
front/node_modules/wrap-ansi/node_modules/color-convert/package.json
front/node_modules/wrap-ansi/node_modules/color-convert/README.md
front/node_modules/wrap-ansi/node_modules/color-convert/route.js
front/node_modules/wrap-ansi/node_modules/color-name/index.js
front/node_modules/wrap-ansi/node_modules/color-name/LICENSE
front/node_modules/wrap-ansi/node_modules/color-name/package.json
front/node_modules/wrap-ansi/node_modules/color-name/README.md
.gitignore
front/node_modules/wrappy/LICENSE
front/node_modules/wrappy/package.json
front/node_modules/wrappy/README.md
front/node_modules/wrappy/wrappy.js
front/node_modules/write-file-atomic/CHANGELOG.md
front/node_modules/write-file-atomic/index.js
front/node_modules/write-file-atomic/LICENSE
front/node_modules/write-file-atomic/package.json
front/node_modules/write-file-atomic/README.md
front/node_modules/ws/browser.js
front/node_modules/ws/index.js
front/node_modules/ws/LICENSE
front/node_modules/ws/package.json
front/node_modules/ws/README.md
front/node_modules/ws/lib/buffer-util.js
front/node_modules/ws/lib/constants.js
front/node_modules/ws/lib/event-target.js
front/node_modules/ws/lib/extension.js
front/node_modules/ws/lib/limiter.js
front/node_modules/ws/lib/permessage-deflate.js
front/node_modules/ws/lib/receiver.js
front/node_modules/ws/lib/sender.js
front/node_modules/ws/lib/stream.js
front/node_modules/ws/lib/validation.js
front/node_modules/ws/lib/websocket-server.js
front/node_modules/ws/lib/websocket.js
front/node_modules/xml-name-validator/LICENSE.txt
front/node_modules/xml-name-validator/package.json
front/node_modules/xml-name-validator/README.md
front/node_modules/xml-name-validator/lib/generated-parser.js
front/node_modules/xml-name-validator/lib/grammar.pegjs
front/node_modules/xml-name-validator/lib/xml-name-validator.js
front/node_modules/xmlchars/LICENSE
front/node_modules/xmlchars/package.json
front/node_modules/xmlchars/README.md
front/node_modules/xmlchars/xmlchars.d.ts
front/node_modules/xmlchars/xmlchars.js
front/node_modules/xmlchars/xmlchars.js.map
front/node_modules/xmlchars/xml/1.0/ed4.d.ts
front/node_modules/xmlchars/xml/1.0/ed4.js
front/node_modules/xmlchars/xml/1.0/ed4.js.map
front/node_modules/xmlchars/xml/1.0/ed5.d.ts
front/node_modules/xmlchars/xml/1.0/ed5.js
front/node_modules/xmlchars/xml/1.0/ed5.js.map
front/node_modules/xmlchars/xml/1.1/ed2.d.ts
front/node_modules/xmlchars/xml/1.1/ed2.js
front/node_modules/xmlchars/xml/1.1/ed2.js.map
front/node_modules/xmlchars/xmlns/1.0/ed3.d.ts
front/node_modules/xmlchars/xmlns/1.0/ed3.js
front/node_modules/xmlchars/xmlns/1.0/ed3.js.map
front/node_modules/y18n/CHANGELOG.md
front/node_modules/y18n/index.mjs
front/node_modules/y18n/LICENSE
front/node_modules/y18n/package.json
front/node_modules/y18n/README.md
front/node_modules/y18n/build/index.cjs
front/node_modules/y18n/build/lib/cjs.js
front/node_modules/y18n/build/lib/index.js
front/node_modules/y18n/build/lib/platform-shims/node.js
front/node_modules/yallist/iterator.js
front/node_modules/yallist/LICENSE
front/node_modules/yallist/package.json
front/node_modules/yallist/README.md
front/node_modules/yallist/yallist.js
front/node_modules/yaml/index.d.ts
front/node_modules/yaml/index.js
front/node_modules/yaml/LICENSE
front/node_modules/yaml/map.js
front/node_modules/yaml/package.json
front/node_modules/yaml/pair.js
front/node_modules/yaml/parse-cst.d.ts
front/node_modules/yaml/parse-cst.js
front/node_modules/yaml/README.md
front/node_modules/yaml/scalar.js
front/node_modules/yaml/schema.js
front/node_modules/yaml/seq.js
front/node_modules/yaml/types.d.ts
front/node_modules/yaml/types.js
front/node_modules/yaml/types.mjs
front/node_modules/yaml/util.d.ts
front/node_modules/yaml/util.js
front/node_modules/yaml/util.mjs
front/node_modules/yaml/browser/index.js
front/node_modules/yaml/browser/map.js
front/node_modules/yaml/browser/pair.js
front/node_modules/yaml/browser/parse-cst.js
front/node_modules/yaml/browser/scalar.js
front/node_modules/yaml/browser/schema.js
front/node_modules/yaml/browser/seq.js
front/node_modules/yaml/browser/types.js
front/node_modules/yaml/browser/util.js
front/node_modules/yaml/browser/dist/index.js
front/node_modules/yaml/browser/dist/legacy-exports.js
front/node_modules/yaml/browser/dist/package.json
front/node_modules/yaml/browser/dist/parse-cst.js
front/node_modules/yaml/browser/dist/PlainValue-b8036b75.js
front/node_modules/yaml/browser/dist/resolveSeq-492ab440.js
front/node_modules/yaml/browser/dist/Schema-e94716c8.js
front/node_modules/yaml/browser/dist/types.js
front/node_modules/yaml/browser/dist/util.js
front/node_modules/yaml/browser/dist/warnings-df54cb69.js
front/node_modules/yaml/browser/types/binary.js
front/node_modules/yaml/browser/types/omap.js
front/node_modules/yaml/browser/types/pairs.js
front/node_modules/yaml/browser/types/set.js
front/node_modules/yaml/browser/types/timestamp.js
front/node_modules/yaml/dist/Document-9b4560a1.js
front/node_modules/yaml/dist/index.js
front/node_modules/yaml/dist/legacy-exports.js
front/node_modules/yaml/dist/parse-cst.js
front/node_modules/yaml/dist/PlainValue-ec8e588e.js
front/node_modules/yaml/dist/resolveSeq-d03cb037.js
front/node_modules/yaml/dist/Schema-88e323a7.js
front/node_modules/yaml/dist/test-events.js
front/node_modules/yaml/dist/types.js
front/node_modules/yaml/dist/util.js
front/node_modules/yaml/dist/warnings-1000a372.js
front/node_modules/yaml/types/binary.js
front/node_modules/yaml/types/omap.js
front/node_modules/yaml/types/pairs.js
front/node_modules/yaml/types/set.js
front/node_modules/yaml/types/timestamp.js
front/node_modules/yargs/browser.mjs
front/node_modules/yargs/CHANGELOG.md
front/node_modules/yargs/index.cjs
front/node_modules/yargs/index.mjs
front/node_modules/yargs/LICENSE
front/node_modules/yargs/package.json
front/node_modules/yargs/README.md
front/node_modules/yargs/yargs
front/node_modules/yargs/build/index.cjs
front/node_modules/yargs/build/lib/argsert.js
front/node_modules/yargs/build/lib/command.js
front/node_modules/yargs/build/lib/completion-templates.js
front/node_modules/yargs/build/lib/completion.js
front/node_modules/yargs/build/lib/middleware.js
front/node_modules/yargs/build/lib/parse-command.js
front/node_modules/yargs/build/lib/usage.js
front/node_modules/yargs/build/lib/validation.js
front/node_modules/yargs/build/lib/yargs-factory.js
front/node_modules/yargs/build/lib/yerror.js
front/node_modules/yargs/build/lib/typings/common-types.js
front/node_modules/yargs/build/lib/typings/yargs-parser-types.js
front/node_modules/yargs/build/lib/utils/apply-extends.js
front/node_modules/yargs/build/lib/utils/is-promise.js
front/node_modules/yargs/build/lib/utils/levenshtein.js
front/node_modules/yargs/build/lib/utils/obj-filter.js
front/node_modules/yargs/build/lib/utils/process-argv.js
front/node_modules/yargs/build/lib/utils/set-blocking.js
front/node_modules/yargs/build/lib/utils/which-module.js
front/node_modules/yargs/helpers/helpers.mjs
front/node_modules/yargs/helpers/index.js
front/node_modules/yargs/helpers/package.json
front/node_modules/yargs/lib/platform-shims/browser.mjs
front/node_modules/yargs/lib/platform-shims/esm.mjs
front/node_modules/yargs/locales/be.json
front/node_modules/yargs/locales/de.json
front/node_modules/yargs/locales/en.json
front/node_modules/yargs/locales/es.json
front/node_modules/yargs/locales/fi.json
front/node_modules/yargs/locales/fr.json
front/node_modules/yargs/locales/hi.json
front/node_modules/yargs/locales/hu.json
front/node_modules/yargs/locales/id.json
front/node_modules/yargs/locales/it.json
front/node_modules/yargs/locales/ja.json
front/node_modules/yargs/locales/ko.json
front/node_modules/yargs/locales/nb.json
front/node_modules/yargs/locales/nl.json
front/node_modules/yargs/locales/nn.json
front/node_modules/yargs/locales/pirate.json
front/node_modules/yargs/locales/pl.json
front/node_modules/yargs/locales/pt_BR.json
front/node_modules/yargs/locales/pt.json
front/node_modules/yargs/locales/ru.json
front/node_modules/yargs/locales/th.json
front/node_modules/yargs/locales/tr.json
front/node_modules/yargs/locales/zh_CN.json
front/node_modules/yargs/locales/zh_TW.json
front/node_modules/yargs-parser/browser.js
front/node_modules/yargs-parser/CHANGELOG.md
front/node_modules/yargs-parser/LICENSE.txt
front/node_modules/yargs-parser/package.json
front/node_modules/yargs-parser/README.md
front/node_modules/yargs-parser/build/index.cjs
front/node_modules/yargs-parser/build/lib/index.js
front/node_modules/yargs-parser/build/lib/string-utils.js
front/node_modules/yargs-parser/build/lib/tokenize-arg-string.js
front/node_modules/yargs-parser/build/lib/yargs-parser-types.js
front/node_modules/yargs-parser/build/lib/yargs-parser.js
front/node_modules/yocto-queue/index.d.ts
front/node_modules/yocto-queue/index.js
front/node_modules/yocto-queue/license
front/node_modules/yocto-queue/package.json
front/node_modules/yocto-queue/readme.md
